@import "tailwindcss";

:root {
    --hue: 250;

    --font-sans: "Noto Serif SC", serif;

    --color-text: black;
    --color-text-secondary: oklch(0.6 0.05 var(--hue));

    --color-bg: oklch(0.15 0.05 var(--hue));
    --color-bg-content: oklch(0.9 0.05 var(--hue));
    --color-bg-highlighted: oklch(0.95 0.02 var(--hue));
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-secondary: oklch(0.7 0.03 var(--hue));

        --color-bg: oklch(0.1 0.05 var(--hue));
        --color-bg-content: oklch(0.2 0.05 var(--hue));
        --color-bg-highlighted: oklch(0.3 0.05 var(--hue));
    }
}
